# Database
DATABASE_URL="postgresql://user:password@localhost:5432/spreadsheet"

# NextAuth
NEXTAUTH_SECRET="your-secret-key-here-generate-with-openssl-rand-base64-32"
NEXTAUTH_URL="http://localhost:3000"

# The Odds API
ODDS_API_KEY="your-odds-api-key"

